@use 'variaveis';

.header {
    position: sticky;
    top: 0;
    left: 0;
    

    &--is-hidden {
        background-color: transparent;
        display: none;
    }

    &__container {
        display: flex;
        justify-content: right;
        padding-right: 36px;

        &__links {
            
            &__item {
                padding: 16px;
                margin-top: 16px;

                .button {
                    border: 3px solid variaveis.$corTextoInterno;
                    text-decoration: none;
                    padding: 8px;
                    text-align: center;
                    border-radius: 6px;
                    font-size: 24px;
                    color: variaveis.$corTextoInterno;
                    cursor: pointer;
                    font-weight: bold;

                    &:hover {
                        background-color: rgba($color: variaveis.$corTextoInterno, $alpha: 0.5);
                        color: variaveis.$corTitulos;
                        border: 3px solid variaveis.$corTitulos;
                        font-weight: bold;
                    }

                    &--dark {
                        background-color: rgba($color: variaveis.$corBG, $alpha: 0.6);
                    }
                }
            }
            
        }
    }
}

